---
import BaseLayout from '../layouts/BaseLayout.astro';
import Icon from '../components/Icon.astro';
import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import { iconPaths } from '../components/IconPaths';

const workExampleSISR: { text: string; icon: keyof typeof iconPaths }[] = [
	{ text: 'Administrateur systèmes et réseaux', icon: 'arrow-right' },
	{ text: 'Informaticien support et déploiement', icon: 'arrow-right' },
	{ text: 'Pilote d’exploitation', icon: 'arrow-right' },
	{ text: 'Support systèmes et réseaux', icon: 'arrow-right' },
	{ text: 'Technicien d’infrastructure', icon: 'arrow-right' },
	{ text: 'Technicien de production', icon: 'arrow-right' },
	{ text: 'Technicien micro et réseaux', icon: 'arrow-right' },
];

const workExampleSLAM: { text: string; icon: keyof typeof iconPaths }[] = [
	{ text: 'Développeur d’applications informatiques', icon: 'arrow-right' },
	{ text: 'Développeur informatique', icon: 'arrow-right' },
	{ text: 'Analyste d’applications ou d’études', icon: 'arrow-right' },
	{ text: 'Chargé d’études informatiques', icon: 'arrow-right' },
	{ text: 'Informaticien d’études', icon: 'arrow-right' },
	{ text: 'Responsable des services applicatifs', icon: 'arrow-right' },
	{ text: 'Programmeur d’applications', icon: 'arrow-right' },
];


---

<BaseLayout title="Veille technologique | Yannis Mokhtari" description="Veille technologique | Yannis Mokhtari">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Veille technologique"
				tagline=""
			>
				<img
					width="800"
					height="873"
					src="../assets/Veille_technologique.webp"
					alt="Veille technologique"
				/>
			</Hero>

			<section>
				<h2 class="section-title">​Qu'est ce que la veille ?</h2>
				<div class="content">
					<p>
						La veille technologique consiste à s'informer en continu sur les avancées techniques récentes et 
						sur leur mise en œuvre commerciale. Cette démarche permet de rester à jour sur les nouvelles méthodes 
						d'acquisition, de stockage et d'analyse de l'information, un peu comme une revue de presse spécialisée
						dans les technologies émergentes.		
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Outils</h2>
				<div class="content">
					<p>Les outils de veille technologique les plus utilisés incluent les agrégateurs de flux RSS, 
						les alertes Google, les réseaux sociaux, les outils de surveillance des médias sociaux, 
						les newsletters, les bases de données, les blogs et les forums.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Méthodes</h2>
				<div class="content">
					<p>Les méthodes utilisés pour réaliser ces veilles sont :
						<br>
						- <a href="../assets/documentation/[OUTIL] - VeilleTechno.pdf"target="_blank">Mise en place de l'outil Google Alerte et Feedly</a>
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Sujets de veilles</h2>
				<div class="content">
					<p> 
						- <b>Sécurité dans le cloud</b> : Quelles sont les meilleures pratiques pour protéger les données dans un environnement cloud ?
						<br>
						<br>
						- <b>Intelligence artificielle et sécurité</b> : Comment l'IA peut-elle améliorer la détection des menaces ?
					<br>
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Explications</h2>
				<div class="content">
						<p><b>- ​Sécurité dans le cloud </b>: La sécurité du cloud est l'ensemble des mesures de protection mises 
							en place pour garantir la confidentialité, l'intégrité et la 
							disponibilité des données et des services qui se trouvent dans 
							un environnement cloud. Elle vise à protéger les informations 
							contre les accès non autorisés, les fuites de données, les 
							attaques malveillantes et d'autres menaces en ligne.
						</p>
						<br>
						<p><b>- Intelligence artificielle et sécurité </b>: L'intelligence 
							artificielle (IA) est un ensemble de technologies qui permettent 
							à des systèmes informatiques de simuler certaines capacités humaines, 
							comme le raisonnement, l'apprentissage, la perception et même la prise 
							de décision. En cybersécurité, l'IA aide à identifier et répondre aux 
							menaces plus rapidement et plus efficacement que les méthodes 
							traditionnelles.
						</p>
					<br>
				</div>
			</section>
			<section>
				<h2 class="section-title">Sources</h2>
				<div class="content">
					<div>

						<main class="grid">
						<article>
								<p class="section-title text-center">Sécurité dans le cloud</p>
								<img src="../assets/multicloud.webp" alt="article">
								<div class="text">
									<h4>Comment les SBC transforment la sécurité et l'optimisation 
										des communications unifiées dans les environnements 
										multicloud</h4> 
									<br>
									<p>La migration des applications et des données vers le cloud 
										s’est considérablement accélérée, de nombreuses organisations
										adoptant une stratégie multicloud pour exploiter les meilleurs
										atouts des différents fournisseurs de cloud.  
									</p> 
									<br>
									<hr>
									<address>
										le 31 Octobre 2024
										<br>
										<b>Ruchir Brahmbhatt</b> | <b>Forbes</b><br>
									</address>
									<hr>
									<a href="https://www.forbes.com/councils/forbestechcouncil
											/2024/10/31/how-sbcs-are-transforming-uc-security
											-and-optimization-in-multi-cloud-environments/" 
									class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
								</div>
						</article>
						<article>
								<p class="section-title text-center">Intelligence artificielle et sécurité</p>
								<img src="../assets/Visuel-pour-image-67.png.webp" alt="article">
								<div class="text">
									<h4>IA et sécurité routière : la France devrait se doter de radars intelligents en 2025</h4> 
									<br>
									<p>De nombreux pays utilisent désormais des radars routiers
										dotés d’IA pour améliorer la sécurité routière, la France 
										prévoit de faire de même l’année prochaine, au grand dam 
										d’associations d’usagers de la route comme “40 millions 
										d’automobilistes” qui “dénonce le recours à outrance au
										système de verbalisation automatique”.
									</p> 
									<br>
									<hr>
									<address>
										le 31 Octobre 2024
										<br>
										<b>Marie-Claude Benoit</b> | <b>ActuIA</b><br>
									</address>
									<hr>
									<a href="https://www.actuia.com/actualite/ia-
									et-securite-routiere-la-france-devrait-se-doter
									-de-radars-intelligents-en-2025/" 
									class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
								</div>
						</article>
						<article>
							<p class="section-title text-center">Sécurité dans le cloud</p>
							<img src="../assets/Cloud-attacks.webp" alt="article">
							<div class="text">
								<h4>Les 3 principales attaques cloud et comment s'en protéger</h4> 
								<br>
								<p>Les attaques basées sur le cloud sont diverses et en 
									constante évolution, les acteurs malveillants ciblant 
									directement les environnements cloud ou utilisant les 
									services cloud pour mener des activités malveillantes 
									telles que le phishing. 
								</p> 
								<br>
								<hr>
								<address>
									le 22 Octobre 2024
									<br>
									<b>Équipe de recherche sur les menaces de ReliaQuest</b> | <b>Reliaquest</b><br>
								</address>
								<hr>
								<a href="https://www.reliaquest.com/blog/3-top-cloud-attacks-and-how-to-protect/" 
								class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
							</div>
						</article>
						<article>
							<p class="section-title text-center">Intelligence artificielle et sécurité</p>
							<img src="../assets/etats-unis-ia.jpeg" alt="article">
							<div class="text">
								<h4>États-Unis : Un Cadre pour l’IA de Sécurité Nationale Dévoilé</h4> 
								<br>
								<p>Selon un haut responsable de l’administration Biden, l’IA offre des 
									applications évidentes dans des domaines clés comme la cybersécurité 
									et le contre-espionnage. Face à des rivaux comme la Chine qui cherchent 
									à révolutionner leurs capacités militaires et de renseignement grâce à 
									cette technologie, les États-Unis se doivent d’emboîter le pas.</p> 
								<br>
								<hr>
								<address>
									le 24 Octobre 2024
									<br>
									<b>Steven Soarez</b> | <b>ViralMAG</b><br>
								</address>
								<hr>
								<a href="https://viralmag.fr/etats-unis-un-cadre-pour-lia-de-securite-nationale-devoile/#google_vignette" 
								class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
							</div>
						</article>
						<article>
							<p class="section-title text-center">Sécurité dans le cloud</p>
							<img src="../assets/best-cloud-security-tools-1.webp" alt="article">
							<div class="text">
								<h4>Les 9 meilleurs outils de sécurité cloud de 2024</h4> 
								<br>
								<p>Il peut être difficile de s'y retrouver dans la multitude 
									d'outils de sécurité CSPM, KSPM, de gestion des actifs et 
									de stockage de données dans le cloud, en particulier lorsque 
									l'objectif est d'obtenir des performances de premier ordre. 
								</p> 
								<br>
								<hr>
								<address>
									le 21 Octobre 2024
									<br>
									<b>Rebbeca Kappel</b> | <b>Security Boulevard</b><br>
								</address>
								<hr>
								<a href="https://securityboulevard.com/2024/10/the-best-9-cloud-security-tools-of-2024/" 
								class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
							</div>
						</article>
						<article>
							<p class="section-title text-center">Intelligence artificielle et sécurité</p>
							<img src="../assets/MSI-article.webp" alt="article">
							<div class="text">
								<h4>MSI réalise des merveilles avec ses ordinateurs portables et l’intelligence artificielle</h4> 
								<br>
								<p>MSI intègre désormais des solutions d’IA de pointe dans
									ses ordinateurs portables. Grâce à leur NPU, des puces IA 
									dédiées, ces machines offrent un équilibre parfait entre 
									puissance, intelligence et autonomie.</p> 
								<br>
								<hr>
								<address>
									le 21 Octobre 2024
									<br>
									<b>"En partenariat avec MSI"</b> | <b>BFMTV</b><br>
								</address>
								<hr>
								<a href="https://www.bfmtv.com/tech/bons-plans/msi-realise-des-
								merveilles-avec-ses-ordinateurs-portables-et-l-intelligence-
								artificielle_AB-202410210342.html" 
								class="btn btn-primary btn-block" target="_blank" rel="noreferrer">En savoir plus</a>
							</div>
						</article>
					</main>
			
				</div>
					<p>
						
					</p>
					
				</div>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	.text-center{
		text-align: center;
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
	.grid {
    display: grid;
    margin-left: 0px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    grid-gap: 50px;
    padding: 2%;
    align-items: stretch;
    text-align: match-parent;
	}
</style>
